atomic-search-box::part(wrapper) {
    border-color: rgb(75 85 99);
    background-color: rgb(249 250 251);
}

atomic-search-box::part(submit-button) {
    margin: auto;
    margin-right: 9px;
    background-color: #ec8f2d;
    width: 2rem;
    height: 2rem;
    border-radius: 0.375rem;
    text-align: center;
    line-height: 1em;
}

.btn-view {
    background-color: #dc6016;
    border: 1px solid #dc6016;
    color: #fff;
    margin-top: .5rem;
    width: 7rem;
    padding: .5rem 0;
    border-radius: .375rem;
    font-weight: 600;
}

.f-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: 1rem;
}