#custom-search {
    display: block;
    padding: 5px;
    float: right;
    margin: -7px 0 0 15px;
}

#custom-search.active {
    border-color: #ccc
}

#custom-search input {
    width: 140px;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: normal;
    display: none;
    box-sizing: border-box;
    border-radius: 0
}

#custom-search span {
    cursor: pointer
}

#custom-search span:hover {
    color: #d7792a
}

.mobile-search {
    display: none!important;
}

body.mmg-search-active {
    height: 100% !important;
    overflow: hidden !important
}

#mmg-gcse {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #51585b;
    background-color: rgba(81 88 91 / 95%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s
}

.active#mmg-gcse {
    visibility: visible;
    opacity: 1
}

#mmg-gcse .mmg-gcse-outer {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left
}

#mmg-gcse-tools {
    position: fixed;
    top: 145px;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 36px;
    padding-right: 17px;
    box-sizing: border-box
}

#mmg-gcse-tools .mmg-gcse-outer {
    height: 100%
}

#custom-search-2 {
    background-color: #fff;
    float: left;
    width: 225px;
    margin-top: 10px;
    height: 36px;
    border: 1px solid #aebac0;
    box-sizing: border-box
}

#custom-search-2 input {
    float: left;
    width: 180px;
    margin: 8px 0 0 6px;
    padding: 0;
    border: 0
}

#custom-search-2 span {
    cursor: pointer;
    float: right;
    margin: 7px 6px 0 0
}

#mmg-gcse .close-btn {
    font-family: "Times New Roman", Times, serif;
    float: right;
    text-align: center;
    width: 34px;
    height: 34px;
    font-size: 35px;
    line-height: 34px;
    background-color: #51585b;
    color: #aebac0;
    border: 1px solid #aebac0;
    cursor: pointer
}

#mmg-gcse .close-btn:hover {
    background-color: #aebac0;
    color: #51585b
}

#mmg-gcse-box {
    color: #fff;
    font-size: 15px;
    line-height: 140%;
    height: calc(100vh - 100px);
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

#mmg-gcse-box .mmg-gcse-outer {
    padding: 40px 0
}

#mmg-gcse .search-unified {
    display: block;
    padding: 0 0 15px;
    font-size: 16px;
    color: white
}

#mmg-gcse .search-unified a {
    font-size: 16px;
    color: yellow
}

#mmg-gcse .search-title {
    padding: 0 0 5px;
    font-size: 32px;
    color: inherit
}

#mmg-gcse .mmg-gcse-blogonly-text {
    color: #aebac0
}

#mmg-gcse .search-info {
    padding-bottom: 1.5em
}

#mmg-gcse .item {
    display: block;
    padding: .6em 0;
    color: #aebac0;
    transition: all .3s;
    text-decoration: none
}

#mmg-gcse .item:hover {
    color: #fff;
    text-decoration: none
}

#mmg-gcse .item .title {
    font-family: "TradeGothicBoldCn20", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 18px;
    line-height: 100%
}

#mmg-gcse .item:hover .title {
    text-decoration: underline
}

#mmg-gcse .item br {
    display: none
}

#mmg-gcse .item b,
#mmg-gcse .item strong {
    color: #fac922;
    font-weight: normal
}

#mmg-gcse .pagination {
    padding: 1.5em 0 0;
    text-align: left
}

#mmg-gcse .pagination span {
    cursor: pointer;
    color: #aebac0;
    padding: 0 5px
}

#mmg-gcse .pagination span:hover,
#mmg-gcse .pagination span.active {
    color: #fff
}

#mmg-gcse .pagination span.disabled,
#mmg-gcse .pagination span.disabled:hover {
    cursor: auto;
    color: #fff
}

#mmg-gcse-blog form {
    padding: .6em 0
}

#mmg-gcse-blog input {
    float: left;
    width: 80%;
    border: 0;
    box-sizing: border-box
}

#mmg-gcse-blog span {
    float: right;
    width: 20%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    height: 38px;
    line-height: 38px
}

@media(max-width: 1024px) {
    #mmg-gcse-tools {
        padding-right: 0
    }
}

@media(max-width: 960px) {
    #mmg-gcse {
        top: 50px;
        z-index: 101
    }

    #mmg-gcse-tools {
        padding: 0;
        top: 0;
        right: 51px;
        width: 50px;
        height: 50px
    }

    #mmg-gcse-tools .mmg-gcse-outer {
        padding: 0;
        width: 50px
    }

    #mmg-gcse .close-btn {
        border: 0;
        width: 100%;
        height: 100%;
        display: block;
        float: none;
        font-size: 50px;
        line-height: 50px;
        color: #fff;
        background-color: #5f6669
    }

    #custom-search {
        position: absolute;
        top: 0;
        right: 52px;
        z-index: 2;
        border-width: 0;
        border-radius: 0;
        background-color: #d8d8d8;
        padding: 0;
        margin: 0;
        height: 50px;
        box-sizing: border-box
    }

    #custom-search span {
        width: 50px;
        height: 48px;
        font-size: 22px;
        line-height: 48px;
        float: right;
        color: #767a7f;
        text-align: center
    }

    #custom-search input {
        width: 222px;
        height: 50px;
        float: left;
        padding: 0 10px;
        background: #efefef;
        box-sizing: border-box
    }
    
    .mobile-search {
        display: block!important;
    }
}

@media(max-width: 374px) {
    #custom-search input {
        width: 166px
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
 
.coveo-search-dropdown {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    max-width: 12rem;
    margin-bottom: 11rem;
    position: relative;
}
 
.coveo-search-dropdown:focus-within {
  max-width: 16rem;
}
 
.coveo-search-dropdown > div#coveo-searchbox {
  position: relative;
  width: 100%;
}
 
.coveo-search-dropdown > div#coveo-searchbox input#coveo-search {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.25rem;
    width: 12rem;
    display: block;
}
 
.coveo-search-dropdown > div#coveo-searchbox input#coveo-search:focus {
    width: 16rem;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}
 
.coveo-search-dropdown > div#coveo-searchbox input#coveo-search + div {
  padding-inline-end: 0.75rem;
    align-items: center;
    display: flex;
    inset-inline-end: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
}
 
.coveo-search-dropdown > div#coveo-searchbox input#coveo-search + div svg {
  width: 1rem;
  height: 1rem;
  fill: none;
}
 
.coveo-search-dropdown > div#coveo-search-dropdown-menu {
  position: relative;
  width: 100%;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 0.5rem;
  z-index: 10;
}
 
.coveo-search-dropdown > div#coveo-search-dropdown-menu:not(.show) {
  display: none;
}
 
.coveo-search-dropdown > div#coveo-search-dropdown-menu.show {
  display: block;
}
 
.coveo-search-dropdown > div#coveo-search-dropdown-menu ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(55 65 81);
}
 
.coveo-search-dropdown > div#coveo-search-dropdown-menu ul li {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
 
.coveo-search-dropdown > div#coveo-search-dropdown-menu ul li:hover {
  background-color: rgb(243 244 246);
}

.recent-searches{
    font-weight: 700;
    padding: 10px;
}

.all-recent-searches{
    justify-content: space-between;
    display: flex;
}

.clear-recent-searches{
    padding: 10px;
}